# LLM Server Environment Variables

# Base Directory
LLM_SERVER_HOME=~/.llm_server

# Directories
SCRIPTS_DIR=~/.llm_server/scripts
SERVICES_DIR=~/.llm_server/integrations/linux/services
MODEL_DIR=~/.llm_server/models
LOGS_DIR=~/.llm_server/logs

# HuggingFace Configuration
HUGGINGFACE_TOKEN=
HUGGINGFACE_CACHE_DIR=~/.cache/huggingface

# Server Configuration
SERVER_PORT=3000
SERVER_HOST=127.0.0.1
