[Unit]
Description=Lamma Server
After=network.target

[Service]
Type=simple
WorkingDirectory=%h
# Edit the script path and name for the local system
ExecStart=/home/jon/llm_server/scripts/run_qwen3.5-35.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target